.header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid grey;
  padding: 16px 24px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.menu-item {
  text-transform: uppercase;
  text-decoration: none;
  color: cadetblue;
  font-weight: 600;
  font-size: 14px;

  &.active {
    color: rebeccapurple;
  }

  &:hover {
    color: rebeccapurple;
  }
}
