.container {
  max-width: 600px;
  width: 100%;
  margin: 32px auto;
}

.wrapper {
  border: 1px solid grey;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 16px;
  color: rebeccapurple;
}
